//about_area
.about_area{
	display: block;
	overflow: hidden;
	background: url("../images/shap/about-bg.png") no-repeat left top;
	padding: 190px 0 140px;
	.tittle{
		text-align: left;
		padding-top: 20px;
		h4{
			font: 500 32px/42px $font;
			color: #6b6b6b;
			display: block;
			padding: 25px 0 35px;
			a{
				color: $bc;
				&:hover, &:focus{
					color: $hover;
				}
			}
		}
		p{
			font-size: 18px;
			max-width: 570px;
			padding-bottom: 35px;
		}
		.theme_btn{
			min-width: 214px;
		}
	}
}
.aa_2{
	background: url("../images/shap/about-bg-2.png") no-repeat left top; 
	.tittle{
		padding-top: 130px;
		p{
			padding-top: 20px;
		}
	}
}
//about_area

//digital_agency
.digital_agency{
	display: block;
	overflow: hidden;
	padding-bottom: 240px;
	.tittle{
		padding-bottom: 80px;
		p{
			max-width: 885px;
			margin: 0 auto;
			font-size: 22px;
			line-height: 30px;
			padding-top: 30px;
		}
	}
	.agency_video{
		position: relative;
		margin-left: -210px;
		.popup-youtube{
			height: 98px;
			line-height: 98px;
			width: 98px;
			border-radius: 50%;
			text-align: center; 
			display: block;
			color: $bc;
			animation: pulseBig 2s infinite; 
			position: absolute; 
			top: 48%;
			left: 43%;
			background-color: rgba(255, 255, 255, 0.749);
			i:before{
				font-size: 50px;
			}
		}
	}
	.countarup_area{
		padding-left: 170px;
		position: relative;
		z-index: 1;
		padding-top: 40px;
		&:after{
			content: "";
			position: absolute;
			z-index: -1;
			background: url("../images/shap/agency-shap.png") no-repeat;
			width: 177px;
			height: 201px;
			top: -50px;
			right: 0;
		}
		.counter_item{
			float: left;  
			height: 189px;
			width: 216px;
			text-align: center;
			display: flex;
			align-items: center;
			justify-content: center;
			flex-wrap: wrap;
			flex-direction: column; 
			margin-right: 35px !important;
			position: relative; 
			z-index: 1;
			&:after{ 
				content: '';
				position: absolute;
				left: 0;
				top: 0;
				height: 189px;
				width: 216px;
				background: $bc;
				z-index: -1;
				border-radius: 75px;
				overflow: hidden;
				transform: rotate(-15deg);
			}
			h4{
				color: #fff;
				font: 400 24px/1 $font2;
				display: block;
				width: 100%;
				padding-top: 15px;
			}
			h2{
				color: #fff;
				font: 700 50px/1 $font2; 
				padding-top: 10px;
				width: 100%;
			}
			&:first-child{
				width: 188px;
				height: 164px;
				margin-top: 135px;
				&:after{ 
					background-image: -moz-linear-gradient( 90deg, rgb(189,106,254) 0%, rgb(249,99,247) 100%);
					background-image: -webkit-linear-gradient( 90deg, rgb(189,106,254) 0%, rgb(249,99,247) 100%);
					background-image: -ms-linear-gradient( 90deg, rgb(189,106,254) 0%, rgb(249,99,247) 100%); 
					width: 188px;
					height: 164px;
				}
			} 
			&:nth-child(2){
				margin-bottom: 110px;
			}
			&:nth-child(3){ 
				margin-top: 80px; 
				margin-left: 30px;
				&:after{
					background: #405ef9;
				}
			}
			&:nth-child(4){ 
				width: 188px;
				height: 164px;
				margin: 0;
				margin-top: -80px;
				&:after{ 
					background-image: -moz-linear-gradient( 90deg, rgb(133,208,250) 0%, rgb(163,186,254) 100%);
					background-image: -webkit-linear-gradient( 90deg, rgb(133,208,250) 0%, rgb(163,186,254) 100%);
					background-image: -ms-linear-gradient( 90deg, rgb(133,208,250) 0%, rgb(163,186,254) 100%);
					width: 188px;
					height: 164px;
				}
			}
		}
	}
}
.da_2{
	position: relative;
	z-index: 1;
	&:after{
		content: "";
		position: absolute;
		left: 0;
		top: 110px;
		width: 100%;
		height: 100%;
		background: url("../images/shap/counter-bg.png") no-repeat left top;
		z-index: -1;
	}
	.agency_video{
		margin-left: -80px;
	}
	.countarup_area:after{
		display: none;
	}
}
.da_3{
	position: relative;
	padding-bottom: 20px;
	padding-top: 90px;
	&:after{
		content: "";
		position: absolute;
		left: 0;
		bottom: 0;
		width: 100%;
		height: 100%;
		background: url(../images/shap/counter-bg-2.png) no-repeat left bottom;
		z-index: -1;
	}
	.tittle{
		border-bottom: 1px solid #eae8ef;
		padding-bottom: 70px;
	}
	.tittle_cont{
		padding-top: 140px; 
		.tittle{
			text-align: left;
			border: 0;
			padding-top: 20px;
			padding-left: 75px;
			h4{
				font: 500 32px/42px $font;
				color: #6b6b6b;
				display: block;
				padding: 25px 0 35px;
				a{
					color: $bc;
					&:hover, &:focus{
						color: $hover;
					}
				}
			}
			p{
				font-size: 18px;
				max-width: 570px;
				padding-bottom: 35px;
				margin: 0;
			}
			.theme_btn3{
				min-width: 214px;
			}
		}
	}
}
//digital_agency
 
