//love_project_area
.love_project_area{
	display: block;
	overflow: hidden;
	padding-top: 200px;
	.tittle{
		text-align: left;
		padding-bottom: 70px;
		h2{
			max-width: 600px;
			float: left;
			padding: 0;
		}
		.theme_btn2{
			margin-top: 40px; 
			border: 2px solid #eae2e2;
			color: $heding;
			background: transparent;
			float: right;
			&:hover, &:focus{  
				color: #fff;
				background: #ff584e;
				border-color: #ff584e;
			}
		}
	}
	.love_item{
		display: block;
		overflow: hidden;
		margin-bottom: 30px;
		position: relative;
		.hover{
			position: absolute; 
			left: 10px;
			bottom: 10px;
			background-color: rgba(246, 243, 255, 0.851);
			text-align: center;
			padding: 35px 25px;
			border-radius: 0px 20px 0px 20px;
			transform: perspective(400px) rotateY(90deg);
			transform-origin: left;
			transition: all 0.5s;
			opacity: 0;
			.heding{
				display: block;
				font: 600 20px/1 $font;
				color: #181818;
				padding-top: 10px;
				&:hover, &:focus{
					color: $hover;
				}
			}
			h6{
				font: 400 16px/1 $font2;
				color: $pfont;
				padding-top: 15px;
				padding-bottom: 30px;
				display: block;
			}
			.read_more{
				background: #9d62f1;
				color: #fff;
				font-size: 18px;
				min-width: 69px;
				text-align: center;
				border-radius: 8.64px 19px 19px 8.64px;
				display: inline-block;
				line-height: 45px; 
				&:hover, &:focus{
					background: #ff766f;
				}
			}
		}
		img{
			max-width: 100%;
			@include transition;
		}
		&:hover, &:focus{
			.hover{
				transform: perspective(400px) rotateY(0deg);
				opacity: 1;
			}
			img{
				transform: scale3D(1.2, 1.2, 2);
			}
		}
	}
}
//love_project_area

//environment_img
.environment_img{
	display: block;
	overflow: hidden;
	padding-top: 100px;
	padding-bottom: 150px;
	h2{
		text-align: center;
		font: 700 50px/60px $font;
		color: $heding;
		padding-bottom: 120px;
	}
	.environment_row{
		display: inline-flex;
		margin-left: -15px;
		margin-right: -15px;
		.environment_item{  
			margin: 0 15px;
			display: block;
			overflow: hidden;
			&:nth-child(2), &:nth-child(4){
				margin-top: 170px;
			}
			&:nth-child(3){
				margin-top: 50px;
			} 
			.zoom_img{  
				display: block;
				overflow: hidden;
				img{
					max-width: 100%;
					@include transition;
				}
				&:hover, &:focus{
					img{
						transform: scale3D(1.2, 1.2, 2);
					}
				}
			}
		}
	}
}
//environment_img

//portfolio_list
.portfolio_list{
	display: block;
	overflow: hidden;
	padding-bottom: 200px;
	img{
		max-width: 100%;
	}
	.portfolio_list_item{
		padding-top: 150px;
	}
	.pl_conant{
		padding-top: 170px;
		padding-left: 45px;
		.heding{
			font: 500 45px/55px $font;
			color: #282828;
			display: block;
			max-width: 440px;
			padding-bottom: 25px;
			&:hover, &:focus{
				color: $bc;
			}
		}
		p{
			font-size: 18px;
			padding-bottom: 25px;
			max-width: 500px;
		}
		.see_more{
			color: $heding;
			font: 400 20px/1 $font2;
			i:before{
				font-size: 35px;
				line-height: 1;
				position: relative;
				top:7px;
				left: 10px;
				@include transition;
			}
			&:hover, &:focus{
				color: $bc;
				i:before{
					left: 20px;
				}
			}
		}
	}
}
.pl_2{
	.portfolio_list_item{
		padding-top: 110px;
		.pl_img{
			position: relative;
			padding-top: 85px;
			padding-bottom: 65px;
			display: block;
			overflow: hidden;
			z-index: 1;
			&:after{
				content: "";
				position: absolute;
				top: 0;
				right: 0;
				background: url("../images/shap/protfolio-shap.png") no-repeat;
				width: 100%;
				height: 100%;
				z-index: -1;
				background-size: contain;
			}
		} 
		.pl_conant .see_more{
			 color: $bc;  
			&:hover, &:focus{
				color: $hover;
			}
		}
	}
}
.pl_3{
	padding-bottom: 150px;
	.pl_conant .heding{
		position: relative;
		padding-top: 20px;
		&:before{
			content: "";
			position: absolute;
			top: 0;
			left: 0;
			width: 30px;
			height: 2px;
			background: $bc;
		}
	}
}
//portfolio_list 

//portfolio_grid
.portfolio_grid{
	display: block;
	overflow: hidden;
	padding: 140px 0;
	position: relative; 
	.protfoli_filter{
		text-align: center;
		padding-bottom: 120px;
		li{
			display: inline-block;
			padding-left: 20px;
			&:first-child{
				padding: 0;
			}
			a{
				font: 400 18px/56px $font2;
				color: #393838;;
				display: block;
				padding: 0 25px;  
				box-shadow: 0px 22px 18px 0px rgba(200, 200, 200, 0.45);
				background: #fff;
				text-transform: uppercase;
				padding-top: 4px;
				min-width: 110px;
			}
			&:hover, &:focus, &.active{
				a{
					color: #fff;
					background: #ff584e;
				}
			}
		}
	}
	.portfoli_inner{
		.portfolio_item{
			margin-bottom: 30px;
			position: relative; 
			display: block;
			overflow: hidden;
			img{
				max-width: 100%;
				@include transition;;
			} 
			.hover{
				background-color: rgba(255, 255, 255, 0.769);
				position: absolute;
				top: 25px;
				left: 25px;
				right: 25px;
				bottom: 25px;
				display: flex;
				text-align: center;
				justify-content: center;
				flex-wrap: wrap;
				flex-direction: column;
				text-align: center;
				transform: perspective(400px) rotateY(90deg);
				transform-origin: left;
				transition: all 0.5s;
				opacity: 0;
				.heding{
					display: block;
					font: 500 30px/1 $font;
					color: #181818; 
					padding-bottom: 20px;
					&:hover, &:focus{
						color: $bc;
					}
				}
				.link{
					color: #fff;
					width: 75px;
					line-height: 75px;
					border-radius: 50%;
					text-align: center;
					background: $hover;
					margin: 0 auto;
					display: block;
					&:hover, &:focus{
						background: $bc;
					}
				}
			}  
			&:hover, &:focus{
				.hover{
					transform: perspective(400px) rotateY(0deg);
					opacity: 1;
				}
				img{
					transform: scale3D(1.2, 1.2, 2);
				}
			}
		}
	} 
	.pi_2{
		padding: 0 15px;
		max-width: 1800px;
		margin: 0 auto; 
	}
	.pin2{
		margin: 0;
		.col-lg-4{
			padding: 0;
		}
		.portfolio_item{
			margin: 0;
			.hover{ 
				top: auto;
				max-width: 522px; 
				bottom: 10px;
				left: 10px;
				padding: 60px 20px;
			}
		}
	}
}

//protfolio_single
.protfolio_single{
	display: block;
	overflow: hidden;
	padding-top: 90px;
	padding-bottom: 150px;
	.ts_slide{
		img{
			max-width: 100%;
		}
		.indicators{
			padding: 0;
			margin: 0; 
			text-align: center; 
			z-index: 1;
			padding-top: 40px;
			li{
				display: inline-block;
				cursor: pointer;  
				margin: 0 5px;
				width: 36px;
				height: 3px;
				background: #fee7e6;
				border-radius: 10px;
				margin: 4px 5px;
				&:hover, &:focus, &.active{
					background: $bc;
					height: 10px;
					margin: 0;
				}
			}
		}
	}
	.experiences_row{
		padding-top: 120px;
		
	.experiences_img{
		img{
			max-width: 100%;
			margin-bottom: 50px;
		}
	}
	.experiences_text{
		padding-left: 55px;
		h3{
			padding-bottom: 30px;
			font: 500 22px $font;
			color: $hover;
		}
		p{
			padding-bottom: 10px;
			font-size: 18px;
		}
		.experiences{
			box-shadow: 0px 10px 26px 0px rgba(211, 209, 209, 0.35);
			padding: 40px;
			margin-top: 40px;
			li{
				font: 400 18px/55px $font2; 
				color: $pfont;
				display: block;
				b{
					font-weight: 500;
					color: #282331;
					font-family: $font;
					min-width: 190px;
					display: inline-block;
				}
				a{
					color: $pfont;
					&:hover{
						color: $hover;
					}
				}
			}
		} 
	}
	}
}
//protfolio_single