//pricing_area
.pricing_area{
	display: block;
	overflow: hidden;
	position: relative; 
	padding-bottom: 200px; 
	.tittle{
		padding-bottom: 80px;
	}
	.nav-tabs{
		border: 0;
		box-shadow: 0px 0px 20px 0px rgba(218, 218, 218, 0.45);
		background: #fff;
		border-radius: 30px;
		height: 60px;
		width: 131px;
		display: block;
		margin: 0 auto;
		padding: 5px; 
		margin-bottom: 90px;
		li{
			display: inline-block; 
			&:before{
				content: "Monthly";
				font: 700 18px/49px $font2;
				color: #242425;
				position: absolute;
				margin-left: -85px;
			}
			&:last-child{
				padding-left: 18px;
				&:before{
					content: "Yearly";
					margin-left: 68px;
				}
			}
			a{
				width: 49px;
				height: 49px;
				border-radius: 50%;
				background: transparent;
				display: block;   
				&.active{  
					background-image: -moz-linear-gradient( 180deg, rgb(136,114,249) 0%, rgb(82,121,247) 100%);
					background-image: -webkit-linear-gradient( 180deg, rgb(136,114,249) 0%, rgb(82,121,247) 100%);
					background-image: -ms-linear-gradient( 180deg, rgb(136,114,249) 0%, rgb(82,121,247) 100%);
				}
			}
		}
	}
	.plan{
		box-shadow: 0px 16px 30px 0px rgba(181, 179, 185, 0.35);
		margin: 0 auto 30px;
		max-width: 370px;
		padding: 20px;
		padding-bottom: 65px;
		text-align: center; 
		background: url("../images/shap/price-shap.png") no-repeat center top;
		h4{
			font: 500 26px/1 $font;
			color: #242425;
			padding-top: 80px;
		}
		h2{
			font: 700 42px/125px $font;
			color: #fff;  
			text-align: center;
			width: 125px;
			border-radius: 50%;
			margin: 0 auto; 
			background-image: -moz-linear-gradient( 180deg, rgb(250,84,242) 0%, rgb(201,90,247) 100%);
			background-image: -webkit-linear-gradient( 180deg, rgb(250,84,242) 0%, rgb(201,90,247) 100%);
			background-image: -ms-linear-gradient( 180deg, rgb(250,84,242) 0%, rgb(201,90,247) 100%);
		}
		ul{
			padding: 40px 0;
			padding-bottom: 50px;
			min-height: 250px;
			li{
				font: 400 16px/32px $font2;
				color: #242425;
			}
		}
		.theme_btn{
			font: 400 18px/56px $font;
			min-width: 190px;
			background: transparent;
			border: 2px solid #f2efff;
			color: #9181e1;
			text-transform: uppercase;
			&:after, &:before{
				display: none;
			}
			&:hover, &:focus{  
				background-image: -moz-linear-gradient( 0deg, rgb(136,114,249) 0%, rgb(82,121,247) 100%);
				background-image: -webkit-linear-gradient( 0deg, rgb(136,114,249) 0%, rgb(82,121,247) 100%);
				background-image: -ms-linear-gradient( 0deg, rgb(136,114,249) 0%, rgb(82,121,247) 100%);
				color: #fff;
			}
		}
	}
	.plan2{
		background: url("../images/shap/price-shap-2.png") no-repeat center top;
		h2{ 
			background-image: -moz-linear-gradient( 180deg, rgb(163,182,250) 0%, rgb(135,203,247) 100%);
			background-image: -webkit-linear-gradient( 180deg, rgb(163,182,250) 0%, rgb(135,203,247) 100%);
			background-image: -ms-linear-gradient( 180deg, rgb(163,182,250) 0%, rgb(135,203,247) 100%);
		}
	}
	.plan3{  
		background: url("../images/shap/price-shap-3.png") no-repeat center top;
		h2{  
			background-image: -moz-linear-gradient( 180deg, rgb(255,118,111) 0%, rgb(234,78,70) 100%);
			background-image: -webkit-linear-gradient( 180deg, rgb(255,118,111) 0%, rgb(234,78,70) 100%);
			background-image: -ms-linear-gradient( 180deg, rgb(255,118,111) 0%, rgb(234,78,70) 100%);
		}
	} 
} 
//pricing_area