// Extra Large devices (desktops, less than 1231++px)
@media (max-width: 1700px){
	.banner_area {
		padding-bottom: 180px;
		.illustration{
			right: 40px;
			max-width: 500px;
			img{
				max-width: 100%; 
			}
			.illustration_inner{
				.img_2, .img_3 {
					top: 50px;
				}
				.img_1{
					z-index: 1;
				}
			}
		}
	}
}
@media (max-width: 1600px){
	.about_area{
		img{
			max-width: 100%;
		}
	}
	.selected_projects .selected_img img{
		margin: 0;
		max-width: 100%;
	}
	.banner_2 {
		padding-bottom: 180px;
		.illustration .illustration_inner{
			width: 550px;
			img{
				max-width: 100%;
			}
			.img_1{
				right: 0;  
			}
			.img_3{
				top: 315px;
				left: -30px;
			}
			.img_4{
				left: 25%;
			}
		}
	}
	.optimizarion_area{
		img{
			max-width: 100%;
			margin: 0 !important;
		} 
	}
	.banner_3 .illustration2 .illustration_inner:after{
		font-size: 150px;
		top: 0;
		left: 0;
	}
	.pb_3 .banner_img{
		right: 0;
	}
	.pb_12 .banner_img2{
		display: none;
	}
}
@media (max-width: 1440px){ 
	.digital_agency {
		.countarup_area{
			padding-left: 15px;
		}
		.agency_video{
			margin: 0;
			img{
				max-width: 100%;
			}
		} 
	}
	.got_problem img{
		margin: 0;
		max-width: 100%;
	}
	.banner_3 .illustration2 .illustration_inner{
		max-width: 500px;
		img{
			max-width: 100%;
		}
		.img_2{
			left: 30px;
		}
		.img_3{
			right: 30px;
			bottom: 40px;
		}
	}
	.pages_banner .banner_img{
		right: -190px; 
	}
	.pb_3 .banner_img{
		right: 0;
		bottom: 0;
		max-height: 100%;
	}
	.pb_6 .banner_img{
		right: 0;  
		bottom: 0;
		left: 0;
	}
	.pb_4 .banner_img2{
		margin: 0;
		max-width: 100%;
	}
	.pb_7{
		padding-bottom: 100px;
		h6{
			padding-top: 0;
		}
	}
	.pb_9 {
		padding-top: 300px;
		h6{
			padding-top: 0;
		}
	}
	.pb_2 .banner_img{
		right: 0;
	}
	.pb_5 .banner_img{
		right: 0;
	}
	.testimonial_2 figure {
		width: 40%;
	}
} 

@media (max-width: 1366px){  
	.main_header_area .navbar {
		.navbar_supported {
			margin: 0;
			@media (min-width: 992px){
				display: block !important;
				.navbar-nav{
					float: right;
					padding-right: 20px;
				}
			}
			.header_social{
				display: none;
			}
		}
		.right_nav li { 
			&.search_dropbown{
				padding-right: 0;
			}
			.number{
				display: none;
			} 
		}
	} 
	.testimonial_area{
		padding: 70px 0;
	}
	.digital_agency{
		padding-bottom: 100px;
	}
} 

@media (max-width: 1199px){  
	.footer_area .copy_right {
		padding-bottom: 30px;
		p{
			text-align: center;
			padding-top: 30px; 
		}
		.mobile_icon{
			text-align: left;
		}
	}
	.footer_2 .copy_right p{
		padding-top: 0;
	}
	.banner_area {
		padding-bottom: 16px;
		.illustration{
			display: none;
		}
		.rs_banner {
			display: block;
			max-width: 100%;
			text-align: center;
			margin: 0 auto;
		}
		.baner_content{
			padding-bottom: 50px;
		}
	}
	.banner_2 {
		padding-bottom: 0;
		padding-top: 300px;
		.illustration{
			display: none;
		} 
		.rs_banner {
			display: block;
			max-width: 100%;
			float: right;
		}
	}
	.banner_3{
		padding-top: 250px;
		background-size: cover;
		.illustration2{
			display: none;
		} 
		.rs_banner{
			padding-top: 50px;
		}
	}
	.servises_area{
		padding-top: 100px;
		padding-bottom: 0;
	}
	.about_area{
		padding: 100px 0;
	}
	.digital_agency {
		padding-bottom: 100px;
		.countarup_area { 
			max-width: 540px;
			margin: 0 auto;
			.counter_item:nth-child(3){
				margin-left: 0;
			}
		}
		.agency_video { 
			max-width: 680px;
			margin: 0 auto;
		}
	}
	.selected_projects{
		padding-bottom: 100px;
	}
	.digital_marketing{
		padding-bottom: 0;
		.tittle{
			float: none;
			padding-top: 0;
		}
		.marketing_inner{
			margin: 0 auto;
		}
	}
	.popular_post{
		padding: 100px 0;
	}
	.got_problem{
		padding-bottom: 100px;
	}
	.mha_2 .navbar .right_nav li a.sign_btn{
		display: none;
	}
	.mha_3 .navbar .right_nav li a.theme_btn3{
		display: none;
	}
	.optimizarion_area .tittle{
		padding-top: 0;
		h2{
			font-size: 30px;
			line-height: 40px;
		}
	}
	.seo_expart{
		padding: 100px 0;
		.nav_slide a{
			min-width: 59px;
		}
	}
	.pricing_area{
		padding-bottom: 30px;
	}
	.da_3 {
		padding-bottom: 0;
		.tittle_cont{
			padding-top: 40px;
			.tittle{
				padding-left: 15px;
				padding-top: 50px;
			}
		}
	}
	.love_project_area{
		padding-top: 100px;
	}
	.optimizarion_2{
		padding-top: 50px;
		.optimizarion_row{
			padding-top: 50px;
		}
	}
	.pages_banner{
		padding-top: 250px;
		padding-bottom: 0;
		.banner_img {
			position: relative;
			left: 15px;
			right: 0;
			margin: 0 auto;
			text-align: center;
			display: block;
			padding-top: 50px;
			max-width: 100%;
			bottom: 0;
		}
	}
	.sa_4{
		padding-bottom: 50px;
	}
	.environment_img{
		padding-top: 0;
	}
	.portfolio_list{
		padding-bottom: 100px;
	}
	.pb_5 h2{
		font-size: 40px;
		line-height:50px;
	}
	.portfolio_grid .portfoli_inner .portfolio_item .hover .heding{
		font-size: 18px;
	}
	.blog_area .blog_right_sidebar{
		padding-left: 15px;
	}
	.blog_area{
		padding: 100px 0;
	}
	.pb_11 h2{
		font-size: 40px;
		line-height: 50px;
	}
	.testimonial_2{
		padding: 150px 0 100px;
		margin: 0;
		 figure {
			position: relative;
			top: 80px;
			text-align: center;
			width: auto;
			img{
				max-width: 100%;
			}
		}
	}
	.pb_12 {
		.banner_img{  
			display: none;
		}
		.banner_img2{
			display: block;
			position: relative;
			margin: 0 auto;
		}
	}
	.contact_p{
		margin-top: 0; 
		padding-top: 150px;
	}
	.contact_info{
		padding-bottom: 100px;
	}
	.digital_agency .countarup_area:after{
		display: none;
	}
} 
 
// Medium devices (tablets, less than 992px)
@media (max-width: 991px) {  
    .main_header_area{ 
        padding: 50px 15px 0; 
        .navbar{   
			position: relative;
			padding-bottom: 20px;
			.navbar-brand{
				margin: 0;
				position: relative;
				top: 12px;
			}
            .navbar-toggler{ 
                font-size: 25px;
                color: #fff;  
                margin: 0; 
				padding: 0;
                margin-left: 15px;
                line-height: 60px;
                border: 0; 
                border-radius: 0; 
				position: absolute;
				right: 95px;
				top: 0;
            }
            .navbar_supported{
                float: none;
                width: 100%;
				margin-top: 28px;
            }
            .navbar-nav{ 
                margin: 0;  
                max-height: 370px;
                overflow-y: auto; 
                background: $bc;
                border: 1px dashed #fff;
                padding-left: 0 !important;
                li{
                    border-bottom: 1px dashed #fff;
                    &:last-child{
                        border: 0
                    }
                    a{ 
                        line-height: 45px !important;
                        margin: 0 20px !important;
                        color: #fff !important;
                        &:after{
                            display: none !important;
                        }
                        &:before{
                            display: none;
                        }
                        &.theme_btn{
                            background: transparent !important;
                            text-align: left !important;
                            color: #fff; 
                            background-image: none;
                        }
                    }
                    &.dropdown{
                        position: relative;
                        &:after{
                            content: "\f103";
                            position: absolute;
                            top: 0;
                            right: 20px;
                            font: normal normal normal 15px/48px FontAwesome;
                            color: #fff;
                        }
                        .dropdown-menu{
                            background-color: transparent;
                            border: 0;
                            border-top: 1px dashed #fff;
                            border-radius: 0 !important;
                            padding: 0 !important;
                            box-shadow: none !important;
                            &:before{
                                display: none;
                            }
                            li a{ 
                                border: 0;
                                color: #fff; 
                                margin: 0 10px; 
                                &:hover, &:focus, &.active{
                                    color: #fff;
                                    border: 0;
                                    padding: 0 20px;
									background-color: transparent;
                                }
                            }
                            .dropdown:after{
                                display: none;
                            }
                        }
                    } 
                } 
            }
			.right_nav{
				position: absolute;
				right: 0;
				top: 0;
				li.dropdown .dropdown-menu{
					margin-left: -235px;
				}
				li.search_dropbown .dropdown-menu{
					margin-left: -210px;
				}
			}
        }    
		&.navbar_fixed{
			padding: 0 15px;
		}
    }   
	.mha_2 .navbar {
		.right_nav{
			top: 5px;
		}
		.navbar-toggler{
			color: #181818;
			top: 8px;
		}
	}
	.mha_3 .navbar { 
		.navbar-toggler{
			color: #fff; 
		}
	}
	.mha_4 .navbar { 
		.navbar-toggler{
			color: #181818; 
		}
	} 
	.footer_area .footer_widget.fw_2{
		padding-left: 15px;
	} 
	.banner_area, .banner_2{
		padding-top: 250px;
		h2{
			font-size: 45px;
			line-height: 55px;
		}
	}
	.got_problem .problem_from{
		padding-top: 50px;
		h2{
			font-size: 30px;
		}
	}
	.aa_2 .tittle{
		padding-bottom: 50px;
		padding-top: 0;
	}
	.da_2{
		padding-bottom: 0px;
	}
	.optimizarion_area{
		padding-bottom: 0;
		 .tittle{
			padding-bottom: 50px;
		}
	}
	.seo_expart {
		h2{
			font-size: 30px;
			padding-bottom: 50px;
			text-align: center;
		}
		.nav_slide {
			display: none;
		}
		.expart_slid{
			padding-left: 0;
		}
	}
	.footer_area.footer_2{
		padding-top: 150px;
	}
	.love_project_area .tittle .theme_btn2{
		float: left;
	}
	.optimizarion_2 .optimizarion_row .tittle{
		padding-top: 30px;
	}
	.history_area{
		padding-top: 100px;
		.history_content{
			padding-left: 15px;
			padding-top: 50px;
		}
	}
	.se_2{
		padding: 0;
	}
	.ha_2{
		padding: 0;
		.history_content{
			margin: 0;
		}
	}
	.environment_img{
		padding-top: 100px;
		padding-bottom: 50px;
		h2{
			font-size: 30px;
			line-height: 40px;
			padding-bottom: 50px;
		}
		.environment_row .environment_item{
			margin-top: 0 !important;
		}
	}
	.portfolio_list .pl_conant{
		padding-left: 15px;
		padding-top: 50px;
	}
	.pb_5{
		padding-top: 200px;
	}
	.portfolio_grid .protfoli_filter li a{
		font-size: 16px;
		line-height: 45px;
		padding: 0 20px;
		margin-bottom: 10px; 
	}
	.pb_7{
		padding-bottom: 100px;
		h6{
			padding-top: 40px;
		}
	}
	.pb_8{
		.banner_img2{
			padding-top: 50px;
		}
	}
	.have_idea{
		padding: 100px 0;
	}
	.pb_9{
		.banner_img2{
			padding-top: 40px;
		}
	}
	.protfolio_single .experiences_row .experiences_text{
		padding-left: 15px;
	}
	.blog_pages {
		.subscribe{
			padding-bottom: 100px;
		}
		.blog_w{
			padding-left: 0; 
		}
	}
	.blog_area .blog_right_sidebar{
		padding-top: 50px;
		max-width: 370px;
	}
	.coming_soon{
		padding-top: 250px;
		h2{
			padding-bottom: 0;
		}
		.countdown{
			padding-top: 100px;
			padding-bottom: 50px;
			.ds-element{
				margin-bottom: 50px;
			}
		}
		p{
			padding-top: 100px;
		}
	}
	.contact_p .quick_call{
		padding-left: 15px;
		padding-top: 50px;
	}
} 

// Small devices (landscape phones, less than 768px)
@media (max-width: 767px) { 
	.footer_area .copy_right { 
		margin-top: 50px;
		padding-top: 30px;
		p{
			text-align: center; 
			img{
				padding-right: 10px;
			}
		}
		.mobile_icon, .footer_nav{
			text-align: center;
		}
		.footer_nav{
			padding-top: 15px;
		}
	} 
	.footer_area.footer_2{
		padding-top: 150px;
		 .copy_right p{
			padding-top: 20px;
		}
	}
	.banner_area, .banner_2{
		h6, p{
			font-size: 16px;
		}
		h2{
			font-size: 30px;
			line-height: 40px;
			padding: 10px 0;
		}
	}
	.tittle {
		h6{
			font-size: 16px; 
			border-width: 2px;
		}
		h2{
			font-size: 30px;
			line-height: 40px;
			padding-top: 10px;
		} 
		p{
			font-size: 16px !important;
		}
	}
	.about_area .tittle h4{
		font-size: 18px;
		padding: 10px 0;
	}
	.selected_projects .selected_text h3{
		font-size: 25px;
		line-height: 35px;
	}
	.digital_marketing .marketing_inner{ 
		.fast_colum{
			padding-top: 50px;
		}
	} 
	.testimonial_area {
		.tittle{
			padding-bottom: 50px;
			 h2{
				padding-bottom: 20px;
			}
		}
		.ts_slide p{
			font-size: 16px;
			padding-bottom: 30px;
		}
	}
	.pages_banner h2{
		font-size: 30px;
		line-height: 40px;
		padding-top: 20px;
	}
	.hire_us h2{
		font-size: 30px;
		line-height: 40px;
		padding-top: 150px;
	}
	.pb_3:after{
		display: none;
	}
	.portfolio_list .pl_conant .heding{
		font-size: 25px;
		line-height: 35px;
	}
	.have_idea h2{
		font-size: 25px;
		line-height: 35px;
	}
	.blog_area .blog_left_sidebar .blog_item .heding{
		font-size: 20px;
		line-height: 30px;
	}	
	.coming_soon .countdown .ds-element{
		width: 50%;
		&:nth-child(3){
			&:after{
				display: none;
			}
		}
	}
}
// Extra small devices (portrait phones, less than 576p)
@media (max-width: 575px) { 
	.footer_area .footer_widget.fw_2{
		padding-top: 50px;
	} 
	.banner_area{
		padding-top: 200px;
	}
	.digital_agency .countarup_area{
		display: flex;
		flex-flow: column;
		 .counter_item{
			margin: 0 auto 40px !important; 
		}
	}
	.love_project_area .love_item{
		max-width: 370px;
		margin: 0 auto 30px; 
	} 
	.hire_us h2{
		font-size: 18px;
		line-height: 30px;
	}
	.comments_area .comment_row .media_r{
		margin-left: 0; 
	}
	.testimonial_2 .tittle h2{
		font-size: 25px;
		padding-top: 20px;
		padding-bottom: 10px;
	}
	.error_area{
		padding-top: 230px;
		h4{
			font-size: 25px;
			line-height: 30px;
		}
		p{
			padding-top: 80px;
		}
	}
	.banner_area .theme_btn{
		font-size: 16px;
		line-height: 50px;
		min-width: 200px;
	}
}
@media (max-width: 450px){ 
	.have_idea .next_p a{
		display: block;
		float: none !important;
		text-align: center;
	}
	.comments_area .comment_row .media{
		display: block;
		.media-body{
			padding-left: 0;
			padding-top: 20px;
		}
	}
	.coming_soon {
		padding-top: 200px;
		h2{
			font-size: 20px;
			line-height: 30px;
			padding-top: 0;
		}
		.countdown .ds-element{
			&:after{
				display: none;
			}
		}
	}
}
// Extra small devices (portrait phones, less than 360p) 
@media (max-width: 360px) { 
	.pages_banner {
		h6{
			font-size: 18px;
		}
		h2{
			font-size: 20px;
			line-height: 30px;
		}
	}
	.visit_website{
		padding: 30px 15px;
	}
}