//servises_area
.servises_area{
	display: block;
	overflow: hidden;
	padding: 260px 0 60px;
	.servis_items{ 
		border-radius: 10px;
		background: #fff;
		padding: 60px 25px;
		margin-bottom: 30px;
		text-align: center;
		@include transition;
		.icons{
			margin: 0 auto;
			border-radius: 50%;
			background-image: -moz-linear-gradient( 134deg, rgb(252,109,220) 0%, rgb(254,59,43) 100%);
			background-image: -webkit-linear-gradient( 134deg, rgb(252,109,220) 0%, rgb(254,59,43) 100%);
			background-image: -ms-linear-gradient( 134deg, rgb(252,109,220) 0%, rgb(254,59,43) 100%); 
			width: 127px;
			height: 127px; 
			text-align: center;
			display: flex;
			align-items: center;
			justify-content: center;
			position: relative;
			i:before{
				color: #fff;
				font-size: 61px;
				line-height: 1;
			}
			&:before{
				content: "";
				position: absolute;
				left: -10px;
				top: -10px;
				right: -10px;
				bottom: -10px;
				display: block;
				border:1px solid rgb(255, 239, 240);   
				margin: 0 auto;
				border-radius: 50%; 
			}
		}
		.is_2{ 
			background-image: -moz-linear-gradient( 134deg, rgb(42,117,245) 0%, rgb(169,98,248) 100%);
			background-image: -webkit-linear-gradient( 134deg, rgb(42,117,245) 0%, rgb(169,98,248) 100%);
			background-image: -ms-linear-gradient( 134deg, rgb(42,117,245) 0%, rgb(169,98,248) 100%);
			&:before{
				border-color: rgb(242, 237, 255);
			}
		}
		.is_3{ 
			background-image: -moz-linear-gradient( 134deg, rgb(203,136,255) 0%, rgb(1,245,241) 100%);
			background-image: -webkit-linear-gradient( 134deg, rgb(203,136,255) 0%, rgb(1,245,241) 100%);
			background-image: -ms-linear-gradient( 134deg, rgb(203,136,255) 0%, rgb(1,245,241) 100%);
			&:before{
				border-color: rgb(227, 250, 254);
			}
		}
		a{
			display: block;
			font: 500 24px/32px $font;
			color: #282828;
			padding-bottom: 30px;
			padding-top: 40px;
			&:hover, &:focus{
				color: $hover; 
			}
		}
		&:hover, &:focus, &.active{
			box-shadow: 0px 0px 30px 0px rgba(186, 184, 191, 0.35);
		}
	}
}
.sa_2{
	padding-top: 120px;
	padding-bottom: 0;
	.servis_items {
		.icons {
			background: #fff;
			i:before{
				color: #ff3b69;
			}
		}
		&:hover, &:focus, &.active{
			.icons {
				background: #fff;
				i:before{
					color: #6577f8;
				}
			}
		}
	}
}
.sa_3{
	padding-top: 200px;
	.servis_items{
		text-align: left;
		padding: 35px 40px;
		p{
			max-width: 270px;
		}
	}
}
.sa_4{
	padding: 190px 0 130px;
}
.s_page .servis_items {
	.is_3{
		i:before{
			color: #7af0e6;
		}
	}
	.icons_4{
		i:before{
			color: #f0d95c;
		}
	}
	.is_5{
		i:before{
			color: #e661db;
		}
	}
}
.sa_page_2{
	padding: 190px 0;
	.servis_items{ 
  		box-shadow: 0px 0px 30px 0px rgba(186, 184, 191, 0.35);
		.is_2{ 
			background-image: -moz-linear-gradient( -47deg, rgb(88,254,95) 0%, rgb(156,253,250) 100%);
			background-image: -webkit-linear-gradient( -47deg, rgb(88,254,95) 0%, rgb(156,253,250) 100%);
			background-image: -ms-linear-gradient( -47deg, rgb(88,254,95) 0%, rgb(156,253,250) 100%);
		}
		.is_3{  
			background-image: -moz-linear-gradient( 134deg, rgb(42,117,245) 0%, rgb(169,98,248) 100%);
			background-image: -webkit-linear-gradient( 134deg, rgb(42,117,245) 0%, rgb(169,98,248) 100%);
			background-image: -ms-linear-gradient( 134deg, rgb(42,117,245) 0%, rgb(169,98,248) 100%);
		}
		.is_4{  
			background-image: -moz-linear-gradient( 134deg, rgb(203,136,255) 0%, rgb(164,115,255) 100%);
			background-image: -webkit-linear-gradient( 134deg, rgb(203,136,255) 0%, rgb(164,115,255) 100%);
			background-image: -ms-linear-gradient( 134deg, rgb(203,136,255) 0%, rgb(164,115,255) 100%);
		}
		.is_5{  
			background-image: -moz-linear-gradient( -47deg, rgb(86,137,241) 0%, rgb(156,253,250) 100%);
			background-image: -webkit-linear-gradient( -47deg, rgb(86,137,241) 0%, rgb(156,253,250) 100%);
			background-image: -ms-linear-gradient( -47deg, rgb(86,137,241) 0%, rgb(156,253,250) 100%);
		}
		.is_6{  
			background-image: -moz-linear-gradient( 134deg, rgb(249,90,54) 0%, rgb(247,152,152) 100%);
			background-image: -webkit-linear-gradient( 134deg, rgb(249,90,54) 0%, rgb(247,152,152) 100%);
			background-image: -ms-linear-gradient( 134deg, rgb(249,90,54) 0%, rgb(247,152,152) 100%);
		}
	}
}
//servises_area
 