/*font Variables*/  
$font: 'Poppins', sans-serif;
$font2: 'Overpass', sans-serif;

/*Color Variables*/ 
$bc: #ff584e;
$hover: #9a64f8; 
$heding: #181818;  
$pfont: rgba(36, 36, 37, 0.702);
$pfont2: rgba(40, 40, 40, 0.8);

// Mixins
@mixin transition($property: all, $duration: 300ms, $animate: linear, $delay:0s){
    transition: $property $duration $animate $delay; 
}

// Placeholder Mixins
@mixin placeholder {
    &.placeholder { @content; }
    &:-moz-placeholder { @content; }
    &::-moz-placeholder { @content; }
    &::-webkit-input-placeholder { @content; }
}  

/* Button Style */
.theme_btn{ 
    color: #fff;  
    text-align: center; 
    font: 500 20px/60px $font;
    display: inline-block; 
    padding: 0 20px;    
	background: $bc;
	z-index: 1; 
	border-radius: 30px; 
	position: relative; 
    &:hover, &:focus{ 
		color: #fff;  
		background: $hover;
    }
}
.theme_btn2, .theme_btn3{ 
    color: #fff;  
    text-align: center; 
    font: 500 20px/60px $font;
    display: inline-block; 
    padding: 0 20px;    
	background-image: linear-gradient(to right, #8a72f9 0%, #5179f7 51%, #8a72f9 100%);
	background-size: 200% auto; 
	z-index: 1; 
	border-radius: 30px; 
	min-width: 214px;
    &:hover, &:focus{ 
		color: #fff;
		background-position: right center;
		text-decoration: none;  
    }
}  
.theme_btn3{
	background-image: linear-gradient(to right, #ff476a 0%, #ff8272 51%, #ff476a 100%);
}
/* tittle */
.tittle{
	display: block;
	overflow: hidden;
	text-align: center;
	h6{
		font: 400 22px/10px $font2;
		color: $hover;
		border-bottom: 6px solid #f2edff;
		display: inline-block;
	}
	h2{
		font: 700 50px/60px $font;
		color: $heding;  
		padding-top: 30px;
		display: block;
	}
}
/* tittle */

/* Scroll Top */ 
.scroll-top{
    position: fixed;
    right: 30px;
    bottom: 15px; 
    height: 50px;
    width: 50px; 
    cursor: pointer;
    background: $hover;
    border: 0;
    box-shadow: none;
    z-index: 999;
    color: #fff;
    &:hover, &:focus{
        background: $bc;
    }  
}
/* Preloader */ 
.preloader{
    position:fixed;
    left:0px; 
    top:0px;
    width:100%;
    height:100%;
    z-index:999999;
    background-color:#ffffff;
    background-position:center center;
    background-repeat:no-repeat; 
    background-image:url("../images/preloader.svg"); 
}

/* Alimation */  
.lfa{ 
	animation: float-bob-x2 infinite 15s linear;
}
.lfar{ 
	animation: float-bob-x3 infinite 15s linear;
}
.lfup{ 
	animation: float-bob-y infinite 2s linear;
}
/* Alimation */ 